@import url("https://fonts.googleapis.com/css2?family=Exile&display=swap");

#root {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Poppins", sans-serif;
}

p,
h1 {
  margin: 0;
  padding: 0;
  flex-wrap: wrap;
}

@keyframes slideUpFade {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

main {
  height: 100dvh;
  width: 100dvw;
  text-align: center;
  display: flex;
  flex-grow: 1;
  flex-shrink: 1;
  overflow-y: hidden;
  overflow-x: hidden;
  animation: slideUpFade 0.5s ease forwards;
  /* background-color: black; */
  /* for testing flex grow-shrink */
  /* padding: 0 20px; */
}

.exile-regular {
  font-family: "Exile", system-ui;
  font-weight: 400;
  font-style: normal;
}

.poppins-normal {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
}

.poppins-italic {
  font-family: "Poppins", sans-serif;
  font-style: italic;
  margin: auto;
}

.page-overlay {
  position: absolute;
  height: 100dvh;
  width: 100dvw;
  background-color: black;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: center;
}

.overlay-close {
  position: absolute;
  height: 50px;
  width: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 10px;
  left: 10px;
  border-radius: 9999px;
}

.overlay-media {
  height: 80%;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.page-sidebar {
  position: absolute;
  left: -60px;
  bottom: 15dvh;
  height: auto;
  width: auto;
  display: flex;
  background-color: rgb(61, 61, 61);
  border-radius: 5px;
  padding: 6px;
  z-index: 50;
  transition: all ease-in-out 1s;
}

.page-sidebar.active {
  transform: translateX(65px);
}

.sidebar-button {
  all: unset;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 60px;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  width: 30px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  background-color: rgb(61, 61, 61, 0.4);
  cursor: pointer;
}

.sidebar-logo {
  height: 50px;
  width: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border-radius: 10px;
}

.sidebar-logo a {
  color: white;
}

.sidebar-logo:hover {
  background-color: rgb(61, 61, 61, 0.4);
}

.window {
  height: 100%;
  width: 100%;
  background-color: transparent;
}

.content {
  height: 93%;
  width: 100%;
  background-color: transparent;
  animation: slideUpFade 0.5s ease forwards;
}

.content-div {
  height: 100%;
  width: 100%;
  display: flex;
  background-color: transparent;
  animation: slideUpFade 0.5s ease forwards;
}

.home-title {
  font-size: 4rem;
  margin: auto;
}

.container {
  display: flex;
  flex-direction: column;
  height: 98%;
  /* border: 1px solid black; */
  overflow-y: scroll;
}

.container p {
  color: gray;
  font-weight: 300;
  line-height: 0.8 rem;
  text-align: left;
  font-family: "Poppins", sans-serif;
  margin: 0 20px;
}

.container ol,
li {
  color: gray;
  margin: 0;
  list-style-type: disc;
  text-align: left;
}

.container span {
  color: #ffffff;
  padding: 0 5px;
  font-weight: 500;
}

.hero-container {
  height: 400px;
  width: 80%;
  display: flex;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  margin: 20px auto;
  opacity: 0.6;
}

.y-hero {
  height: 240px;
  width: 80%;
  display: flex;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 20px auto;
  opacity: 0.8;
}

.compareWot-hero {
  height: 240px;
  width: 80%;
  display: flex;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  margin: 20px auto;
  opacity: 0.8;
}

.asset {
  height: 180px;
  width: 100%;
  display: flex;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  margin: 20px auto;
  padding: 0;
  opacity: 0.8;
  cursor: pointer;
}

.asset-container {
  display: flex;
  flex-direction: column;
  /* padding: 10px; */
  /* gap: 10px; */
}

.selection {
  height: 7%;
  width: 100%;
  background-color: transparent;
  display: flex;
  flex-grow: 1;
  flex-shrink: 1;
  align-items: center;
  justify-content: flex-start;
  background-color: rgb(61, 61, 61, 0.4);
  overflow-x: auto;
  overflow-y: hidden;
}

.selection.sub {
  background-color: transparent;
  animation: slideUpFade 0.5s ease forwards;
}

.selection button:first-child {
  margin-left: 10px;
}
.selection button {
  margin-right: 10px;
}

.div-pleft {
  padding-left: 10px;
}

.div-pboth {
  padding: 0px 10px;
}

@media (min-width: 700px) {
  main {
    max-width: 1280px;
    margin: 0 auto;
    flex-basis: 1280px;
  }
  .overlay-media {
    height: 100%;
    width: 80%;
  }
  .hero-container {
    height: 400px;
    width: 400px;
    float: right;
    line-height: 1;
    margin: 0 20px;
  }
  .y-hero {
    height: 300px;
    width: 400px;
    float: right;
    line-height: 1;
    margin: 0 20px;
  }
  .compareWot-hero {
    height: 300px;
    width: 400px;
    float: right;
    line-height: 1;
    margin: 0 20px;
  }
  .asset-container {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    padding: 20px;
    gap: 10px;
  }
  .asset {
    height: 200px;
    width: 400px;
    margin: 0 0;
  }
}

@media (min-width: 1280px) {
  main {
    height: 90dvh;
  }
}
